body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
    height: 100vh;
    display: grid;
    align-items: center;
    justify-content: center;



}

.main-container {

    width: 100%;
    max-width: 500px;

    /* Adjust the max-width as needed */
}

.weather-container {
    position: relative;
    margin: 15px;
    background-color: #fff;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 1s, box-shadow 2s, font-size 2s;

}

.weather-container:hover {
    transform: scale(1.05);
    box-shadow: 0 2px 10px rgb(0, 0, 0);
}

.weather-container:hover h2,
.weather-container:hover p,
.weather-container:hover .temperature {
    font-size: 2.0em;
}

h2 {
    margin: 0 0 10px;
    font-size: 28px;
    color: #333;
}

p {
    margin: 0;
    font-size: 18px;
    color: #666;
}

.temperature {
    font-size: 24px;
    font-weight: bold;
    color: #007bff;
}

.description {
    margin-top: 20px;
}

.error-message {
    color: #ff0000;
    font-style: italic;

}

.creator {
    position: absolute;
    bottom: 10px;
    right: 10px;
}


.creator p {

    padding: 90% 0 0 0;
    font-size: 14px;
    color: #666;

}